/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  background: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjN6cTg5eWszMGVlOThjcnR6dDNvdDlkazI5dXYybG5vcjVmMmV4OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tnPxFTth7qoDiw1rnm/giphy.webp') no-repeat;
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

.container.dark {
  background-color: #333;
  color: #f0f0f0;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input,
.search-container button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-container button {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.weather-info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.weather-data {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-data h2 {
  margin-top: 0;
}

.weather-icon img {
  width: 50px;
  height: 50px;
}

.temperature {
  font-size: 36px;
  font-weight: bold;
}

.weather-description {
  font-size: 18px;
  margin-bottom: 10px;
}

.weather-details {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.hourly-forecast {
  text-align: center;
}

.hourly-forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hourly-forecast-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 100px;
}
.parent-element{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}

.error-message,
.loading-message,
.no-data-message {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Desktop styles (>= 1200px) */
@media (min-width: 1200px) {
  .container {
  
  }
  .search-container {
    flex-direction: row;
  }
  .hourly-forecast-container {
    flex-wrap: wrap;
  }
}

/* Tablet styles (>= 768px and < 1200px) */
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
  .search-container {
    flex-direction: row;
  }
  .hourly-forecast-container {
    flex-wrap: wrap;
  }
}
/* Mobile styles (< 768px) */
@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
  .search-container {
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .search-container input {
    width: 35%;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
  }
  .search-container button {
    width: 5%;
    padding: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .weather-data {
    padding: 5px;
    background: #000;

  }

  .hourly-forecast-item{
    width: 100px;
background: #000;
font-size: small;

  }
  

  .temperature{
    font-size: 12px;
  }
  .hourly-forecast-container {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .hourly-forecast-item {
    width: 60px; /* adjust the width to fit the screen */
  }


  .weather-data h2 {
    font-size: 20px;

  }
  .weather-description{
    font-size: 12px;
  }
  
}